.sayBox {
  border: 1px solid black;
  padding: 0;
  margin: 1em 0;
}
.sayHeader {
  margin: -1px;
  border: 1px solid black;
  display: inline-block;
  padding: 0em 0.75em;
}
.sayText {
  padding: 0.5em 0.75em 0.5em 0.75em;
}
.sayings > .sayBox:not(:first-child) {
  margin-top: -1em;
  border-top: 0;
}