/* When clicking linkbuttons in rapid succession, don't select it :DDD */
a[role="button"] {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}